*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.idea
out
vendor
node_modules
npm-debug.log
yarn-error.log
public/storage
public/hot
storage/*.key
.env
.env*
Homestead.yaml
Homestead.json
.vagrant
.phpunit.result.cache
phpunit-local.xml
*.trash.*
scanner_config.php
auth.json
*.meta.*
_ide_*
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm
.eslintcache
.stylelintcache
*.tgz
.yarn-integrity
.cache
.parcel-cache
*.pem
.pnp
.pnp.js
.next
.vercel
.DS_Store
.nuxt
dist
.out
.storybook-out
storybook-static
dist/
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
tmp/
temp/
.phpunit.cache
/app/phpunit.xml
/phpunit.xml
/build/
.DS_*
**/*.backup.*
**/*.back.*
.sass-cache/
*.css.map
*.sass.map
*.scss.map
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
.php_cs.cache
